<!-- <h2>Student Register</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

<a href="{% url 'login' %}">Already have account? Login</a> -->


<!-- <h2>Student Register</h2>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.username.label }}<br>
        {{ form.username }}
        {{ form.username.errors }}
    </p>

    <p>
        {{ form.email.label }}<br>
        {{ form.email }}
        {{ form.email.errors }}
    </p>

    <p>
        {{ form.phone.label }}<br>
        {{ form.phone }}
        {{ form.phone.errors }}
    </p>

    <p>
        {{ form.password1.label }}<br>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </p>

    <p>
        {{ form.password2.label }}<br>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </p>

    <p>
        {{ form.captcha.label }}<br>
        {{ form.captcha }}
        {{ form.captcha.errors }}
    </p>

    <button type="submit">Register</button>
</form>

<a href="{% url 'login' %}">Already have account? Login</a> -->




<!-- 
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">

<div class="auth-container">

    <div class="auth-image">
        <img src="{% static 'accounts/images/lms.png' %}">
    </div>

    <div class="auth-form">
        <h2>Register</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="button">Register</button>
        </form>

        <a href="{% url 'login' %}">Login</a>
    </div>

</div> -->





<!-- {% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
</head>
<body>
    <div class="overlay"></div>
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>

    <div class="card">
        <h2>Student Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </p>

            <p>
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </p>

            <p>
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {{ form.phone.errors }}
            </p>

            <p>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </p>

            <p>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </p>

            <p>
                {{ form.captcha.label_tag }}
                {{ form.captcha }}
                {{ form.captcha.errors }}
            </p>

            <button type="submit">Register</button>
        </form>
        <a href="{% url 'login' %}">Already have account? Login</a>
    </div>
</body>
</html> -->


{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
</head>
<body>
    <div class="overlay"></div>

    <div class="card">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p>
                <label>Username</label>
                {{ form.username }}
            </p>

            <p>
                <label>Email</label>
                {{ form.email }}
            </p>

            <p>
                <label>Phone</label>
                {{ form.phone }}
            </p>

            <p>
                <label>Password</label>
                {{ form.password1 }}
            </p>

            <p>
                <label>Confirm</label>
                {{ form.password2 }}
            </p>

            <p class="captcha-p">
                <label>Captcha</label>
                {{ form.captcha }}
            </p>

            <button type="submit">Register</button>
        </form>
        <a href="{% url 'login' %}">Already have account? Login</a>
    </div>
</body>
</html>